.app{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.formField{
  padding: 2rem;
  margin-top: 1rem;
  width: 35rem;
  height: auto;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.labelTop{
  font-size: 20px ;
}

.label{
  font-size: 18px;
  margin-bottom: 5px;
  justify-content: left;
  display: flex;
  align-items: left;
}
